
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyHome</title>
</head>
<body>
    <div> Welcome to my first MVC page
   <br/>
    @ViewData["CurrentTime"]
    </div>
</body>
</html>
