@model MyFirstMVC.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>customer</title>
</head>
<body>
    <div> 
        First Name: @Model.FirstName
        <br/>
        Last Name : @Model.LastName
        <br/>
        Customer Num: @Model.CustomerNumber
    </div>
</body>
</html>
